<fieldset data-payment-target="additionalFields" data-type="Purchase order">
	<div class="my-5">
		<%= form.label :purchase_order_number %>
		<%= form.text_field :purchase_order_number, class: "input-field" %>
	</div>
</fieldset>
