<h1>Create New Category</h1>
<% if notice.present? %>
	<p class="mb-5 inline-block rounded-lg bg-red-50 px-3 py-2 font-medium text-red-500" id="alert"><%= alert %></p>
<% end %>

<%= render 'form' %>
